body{
	background-color: grey;
	font-family: Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none 
	color:red
}
h1, h2, h3{
	margin: 0;

}

#container{
	background-color:white;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}
#header{
    	background-color: purple;
	color:white;
	text-align:center;
	padding: 10px;
}


#content{
	padding: 20px;
}

#nav {
	width: 20px;
	float: top;
}
#nav ul{
	list-style-type:none ;
	padding: ;
}

#nav .selected{
	font-weight: bold;

}
#main{
	width: 600px;
	float: right;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: black;
	color: white;
	text-align: right;

}
spam{
	font-weight: Bold;
}
#list{
	padding: 10px;
	margin-right: 30px;
	border-style: solid;
	border-color: black;
}
#logo{
	width: 435px;
	margin-right: 30px;
	border-style: solid;
	border-color: black;
}
#display{
	padding: 0px;
	margin: 0px;
	text-align:center;
	border-style: solid;
	border-color: black;
}

p{
	text-style:time, arial;
}
